/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: black, 1px, solid;
}

/* variable */
:root {
  font-size: 62.5%;
  --backgroundColor1: #11101d;
  --backgroundColor2: #18191f;
  --backgroundBox: rgba(255, 255, 255, 0.11);
  --pinkColor: #e15073;
  --yellowColor: #fcd194;
  --greenColor: #96d279;
}

/* global style */

body {
  margin-top: 4rem;
  min-height: 100vh;
  background: linear-gradient(var(--backgroundColor1), var(--backgroundColor2))
    no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  margin: 2rem;
}

/* typography */
body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
}

p,
.item label {
  font-size: 2rem;
}

.first-section p,
.second-section p {
  font-weight: bold;
}

#age {
  color: var(--yellowColor);
}

#weight {
  color: var(--greenColor);
}

#height {
  color: var(--pinkColor);
}

/* layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.first-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.data {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.second-section {
  margin-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* component */
.box {
  height: 20rem;
  width: 20rem;
  border-radius: 30px;
}

.item {
  background-color: var(--backgroundBox);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.item input {
  text-align: right;
  border: transparent;
  background-color: transparent;
  font-size: 6rem;
  justify-self: end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: 0;
}

button {
  width: 20rem;
  padding: 0.5rem;
  border: white solid 2px;
  border-radius: 20px;
  background-color: rgb(58, 54, 54);
  font-size: 2rem;
  color: white;
  justify-self: end;
}

button:hover,
button:active {
  background-color: white;
  color: black;
}

#go {
  align-self: flex-end;
}

#result {
  background-color: var(--backgroundBox);
  margin-top: 2rem;
  width: 30rem;
  height: 18rem;
}

#tadaa {
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

#evaluatedBmi {
  color: white;
  padding-left: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 3.5rem;
}

#calculatedBmi {
  padding-left: 3rem;
  color: white;
  font-size: 2rem;
}

#reset {
  width: 10rem;
}

@media screen and (max-width: 768px) {
  .data {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .item,
  #result {
    width: 50rem;
  }

  #go {
    align-self: center;
  }

  .second-section {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .second-section {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .item,
  #result {
    width: 20rem;
  }

  .box {
    margin-left: auto;
    margin-right: auto;
  }
}
